{
  "$schema": "https://smapi.io/schemas/manifest.json",
  "ShowTileOverlays": true,
  "ShowHoverTooltips": true,
  "ShowHoeFeedback": true,
  "OverlayOpacity": 0.3,
  "UseCustomColors": false,
  "PoorHealthColor": {
    "R": 139,
    "G": 69,
    "B": 19,
    "A": 255
  },
  "ModerateHealthColor": {
    "R": 218,
    "G": 165,
    "B": 32,
    "A": 255
  },
  "HealthyHealthColor": {
    "R": 85,
    "G": 107,
    "B": 47,
    "A": 255
  }
}
